<%= render "welcome/navbar" %>

<div class="container-fluid text-center">
  <h1>Top Braggers!</h1>

  <div class="d-flex mx-auto justify-content-center location-select">
    <%= form_tag("/search", method: "get") do %>
      <%= radio_button_tag(:location, "city") %>
      <%= label_tag(:city, "City") %>
      <%= radio_button_tag(:location, "state") %>
      <%= label_tag(:state, "State") %>
      <%= radio_button_tag(:location, "country") %>
      <%= label_tag(:country, "Country") %>
      <%= radio_button_tag(:location, "world") %>
      <%= label_tag(:world, "World") %>
      <input name="commit" type="submit" value="Submit" />
    <% end %>
  </div>

  <div class="d-flex mx-auto justify-content-center">
    <table>
      <tr>
        <th>User</th>
        <th>Score</th>
      </tr>
      <tr>
        <td><%= "Peter" %></td>
        <td>1500</td>
      </tr>
      <tr>
        <td>Lois</td>
        <td>1300</td>
      </tr>
      <tr>
        <td>Chris</td>
        <td>1200</td>
      </tr>
      <tr>
        <td>Brian</td>
        <td>1150</td>
      </tr>
      <tr>
        <td>meg</td>
        <td>1</td>
      </tr>
    </table>
  </div>

  <div>
    <a href='https://www.freepik.com/vectors/background'>Background vector created by freepik - www.freepik.com</a>
  </div>
</div>
