<div class="container-fluid">
  <div class="row text-center m-5">
    <h3>Top Braggers!</h3>
  </div>

  <div class="row justify-content-center text-center mb-3">
    <div class="col-lg-6">
      <%= form_with url: '/leaderboard', method: :get, remote: true do |f| %>
        <div class="row">
          <h4 class="mb-3">Filter Scores by ... </h4>
          <div class="col-sm-3">
             <%= button_to "City", "/leaderboard", class: 'btn col-12 btn-dark location-select', params: {geo_scope: 'city'}, method: :get%>
          </div>
          <div class="col-sm-3">
            <%= button_to "State", "/leaderboard", class: 'btn col-12 btn-dark location-select', params: {geo_scope: 'state'}, method: :get%>
          </div>
          <div class="col-sm-3">
            <%= button_to "Country", "/leaderboard", class: 'btn col-12 btn-dark location-select', params: {geo_scope: 'country'}, method: :get%>
          </div>
          <div class="col-sm-3">
            <%= button_to "World", "/leaderboard", class: 'btn col-12 btn-dark location-select', params: {geo_scope: 'world'}, method: :get%>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row text-center justify-content-center">
    <div class="col-lg-6 bg-semi-transparent">
      <% if @scores %>
        <h4 class="p-2">Scores for <%= @location %></h4>
      <% end %>
      <table class="table">
        <tr>
          <th>User</th>
          <th>Score</th>
        </tr>
        <% if @scores %>
          <% @scores.each do |score| %>
          <tr>
          <% binding.pry %>
            <td><%= User.find_by(uid: score.user_id).nickname %></td>
            <td><%= score.score %></td>
          </tr>
          <% end %>
        <% else %>
          <tr>
            <td>Error</td>
            <td>Scores not found :(</td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
