<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bragging Rights!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= render "welcome/navbar" %>
  </head>

  <body>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>

    <%= yield %>
  </body>

  <footer class="fixed-bottom text-right m-2 p-2">
    Background vector created by freepik: <a href='https://www.freepik.com/vectors/background'>www.freepik.com</a>
  </footer>
</html>
